name: Generate SBOM

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: ["main"]
    tags: ["v*"]

permissions:
  id-token: write
  contents: read

jobs:
  Generate-sbom:
    runs-on: ubuntu-latest
    name: Generate SBOM
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Generate SBOM
        uses: manifest-cyber/manifest-github-action@main
        with:
          apiKey: ${{ secrets.MANIFEST_API_KEY }}
          asset-labels: "github-action, production"
          generator: "syft"
